<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50vh; 
        }

    </style>
</head>
<body>
    <h1>Food Order App</h1>
    <a href="/web/items/fetch-all"><button>Menu</button></a><br>
    <a href="/web/items/insert"><button>Insert New Item</button></a><br>
    <a href="/web/invoices/create"><button>Invoice</button></a>
</body>
</html>